<li>
	{{name}}

	<button class="order-done" data-id="{{id}}" data-isdone="{{made}}">
		{{#if made}}MADE!{{else}}NOT MADE?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
